@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    letter-spacing: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    max-width: 900px;
}

.title {
    min-height: 40px;
    font-size: 55px;
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 100px;
}

.start-game {
    padding: 5px 10px;
    background-color: white;
    border: 2px solid rgb(0, 190, 237);
    color: rgb(0, 190, 237);
    margin-top: 250px;
    font-size: 25px;
    font-weight: 500;
    transition: .3s;
}

.start-game:hover {
    background-color: rgb(0, 190, 237);
    color: white;
}

.score-card {
    margin-bottom: 25px;
}

.col {
    min-height: 400px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
    margin-top: 30px;
}

.choices img {
    cursor: pointer;
    margin: 10px 20px;
    width: 150px;
    transition: .3s;
}

.choices img:hover {
    transform: scale(1.1);  
}

.second {
    display: flex;
}

@media only screen and (max-width: 800px) {
    * {
        letter-spacing: 1px;
    }

    .title {
        font-size: 35px;
    }

    .score-card {
        font-size: 20px;
    }

    .choices img {
        margin: 5px;
        width: 100px;
    }
    .row img {
        width: 150px;
     }
}