*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

h1 {
    background: black;
    padding: 30px 100px;
    color: white;
    border-radius: 20px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#btn {
    padding: 10px 30px;
    margin: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: .3s;
}
#btn:hover {
    background-color: black;
    color: white;
}

#span {
    color: rgb(6, 117, 154);
}

#copy-button {
    float: right;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: black;
    font-size: 50px;
}
