@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body {
    background-color: rgb(220, 215, 215);
    margin: 0 30px;
}

.calculator {
    border-radius: 30px;
    max-width: 600px;
    padding: 10px;
    margin: 100px auto;
    overflow: hidden;
    background-color: #171f30;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(44, 52, 66, 1) 0px -2px 6px 0px;
}

.display {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: last baseline;
    border: 10px solid #1d2635;
    color: #1a2710;
    border-radius: 20px;
    max-width: 520px;
    margin: 30px auto;
    height: 150px;
    background-color: #88a273;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(44, 52, 66, 1) 0px -2px 6px 0px;
    overflow: hidden;
}

.display h1 {
    font-size: 80px;
    font-weight: 600;
    margin: 0 15px 0 15px;
    z-index: 5;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 15px;
}

.btn {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #1d2635;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 70px;
    padding-top: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(44, 52, 66, 1) 0px -2px 6px 0px;
}

.btn-large {
    width: 240px;
}

.ac {
    color: #ff8c00;
}

.delete {
    color: rgb(255, 0, 0);
}


/* display lines */

.line {
    position: absolute;
    top: 0px;
    width: .1px;
    background-color: #849b71;
    height: 130px; 
}

.line-0 {
    right: 440px;
}

.line-1 {
    right: 460px;
}

.line-2 {
    right: 480px;
}

.line-3 {
    right: 420px;
}

.line-4 {
    right: 400px;
}

.line-5 {
    right: 380px;
}

.line-6 {
    right: 360px;
}

.line-7 {
    right: 340px;
}

.line-8 {
    right: 320px;
}

.line-9 {
    right: 300px;
}

.line-10 {
    right: 280px;
}

.line-11 {
    right: 260px;
}

.line-12 {
    right: 240px;
}

.line-13 {
    right: 220px;
}

.line-14 {
    right: 200px;
}

.line-15 {
    right: 180px;
}

.line-16 {
    right: 160px;
}

.line-17 {
    right: 140px;
}

.line-18 {
    right: 120px;
}

.line-19 {
    right: 100px;
}

.line-20 {
    right: 80px;
}

.line-21 {
    right: 60px;
}

.line-22 {
    right: 40px;
}

.line-23 {
    right: 20px;
}